/* Main Menu Styling */
.main-menu {
  display: flex;
}
.main-menu li {
  width: 33%;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  list-style-type: none;
}
.main-menu-labels1, .main-menu-labels2, .main-menu-labels3 {
  margin: 0;
  padding: 15px 0;
  background-color: #08254f;
  color: #fff;
  font-size: 18px;
}


/* Sub Menu Styling */
.sub-menu {
  padding-left: 0;
  background-color: #dde1e7;
}
.sub-menu li {
  display: block;
  width: 100%;
  padding: 20px;
  border: 20px solid #fff;
  box-sizing: border-box;
  /* transition: max-height 200ms ease-in-out, border-radius 200ms ease-in-out;*/
}
.hide {
  display: none;
}

#transition {
  transition: 200ms ease-in-out;
}
